<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="./style/bootstrap.min.css">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
<div id="app" class="container mt-5 p-3">
    <nav class="navbar navbar-dark bg-primary fixed-top shadow-nav">
        <div class="d-flex">
            <input class="d-flex form-control w-25 mx-1" placeholder="Titolo" list="titleList" id="title">
            <datalist id="titleList">
                <option v-for="libro in libri">{{ libro.titolo }}</option>
            </datalist>

            <select class="d-flex form-select w-25 mx-1" id="autor-list">
                <option selected value="">Autore</option>
                <option v-for="autore in autori" :value="autore.id">{{ autore.name }}</option>
            </select>

            <select class="d-flex form-select w-25 mx-1" id="editor-list">
                <option selected value="">Editore</option>
                <option v-for="editore in editori" :value="editore.id">{{ editore.name }}</option>
            </select>
            <button @click="search" class="btn btn-success mx-1">Cerca</button>
            <button @click="reload" class="btn btn-outline-light mx-1">Ripristina</button>
            <button @click="back" class="btn btn-secondary mx-1">Indietro</button>
        </div>
    </nav>

    <div class="modal fade" id="modify" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <select class="w-50 form-select me-1" v-model="modifica.authorId" id="newAuthor">
                            <option v-for="autore in autori" :value="autore.id">{{ autore.name }}</option>
                        </select>
                        <select class="w-50 form-select d-flex ms-auto" v-model="modifica.editorId" id="newEditor">
                            <option v-for="editore in editori" :value="editore.id">{{ editore.name }}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div v-for="libro in libri" class="card my-2 shadow">
        <div class="card-body d-flex">
            <div>
                <h4 class="card-title mx-2">{{ libro.titolo }}</h4>
                <h6 class="card-subtitle ms-2 ">di {{ libro.autore }}</h6>
                <div class="d-block ms-auto text-start">
                    <span v-for="gen in libro.genere.split(',')" class="badge bg-primary ms-1 my-1">{{ gen }}</span>
                </div>
            </div>
            <div class="d-block ms-auto text-start my-auto me-5">
                <h6 class="card-subtitle">{{ libro.editore }}</h6>
            </div>
            <div class="text-start mt-3">
                <button class="btn btn-primary mx-1" @click="modifyPopUp(libro)" data-bs-toggle="modal"
                        data-bs-target="#modify">Modifica
                </button>
                <button class="btn btn-danger" @click="deletePopUp(libro)">Elimina</button>
            </div>
        </div>
    </div>
</div>


<div v-show="popUpModify == true" class="popup" style="display: none">
    <label>
        <div class="all-div-find">
            <!--suppress HtmlUnknownAttribute -->
            <input style="width: 200px" class="input" type="text" v-model="modifica.titolo">
        </div>
        <div id="divGenere" class="general-div" style="margin-left: 50px">
            <div class="check-div" v-for="genere in generi">
                <label class="text">
                    <input type="checkbox" v-model="genere.check">
                    <a style="color: black">{{ genere.name }}</a>
                </label>

            </div>
        </div>
        <div class="all-div-find" style="margin-top: 200px">
            <button class="text table-button" style="background-color: #009322" @click="modify">Modifica
            </button>
            <button class="text table-button" style="background-color: #ff5252" @click="popUpClose">Indietro
            </button>
        </div>

    </label>
</div>
<div class="popup text" style="display: none; color: black; max-height: 50vh; max-width: 50vw;"
     v-show="popUpRemove">
    <div class="all-div-find">
        <h1>Sei sicuro di voler rimuovere: </h1>
        <h1>{{modifica.titolo}}?</h1>
    </div>
    <div class="all-div-find" style="margin-top: 40px">
        <button class="text table-button" style="background-color: #009322" @click="remove">Si</button>
        <button class="text table-button" style="background-color: #ff5252" @click="popUpClose">No</button>
    </div>
</div>
</body>
<script src="script/cercalibro.js"></script>
</html>

